{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="title">
                <h1>Result</h1>
            </div>

            <div>
                <p>
                    <strong>Range</strong>: <span>{{ range }}</span> &nbsp;
                    <strong>Width of matrix</strong>: <span>{{ width_matrix }}</span>
                </p>
            </div>

            <div style="display: table;">
                <form action="">
                    <div style="width: 100%; display: inline-block;">
                        <label for="side">Side:</label>
                        <input type="text" name="side" placeholder="5" value="{{ parameters.side }}">

                        <label for="range">Range:</label>
                        <input type="text" name="range" placeholder="1" value="{{ parameters.range }}">
                    </div>

                    <div style="width: 100%; display: inline-block;">
                        <label for="coordinateX">Coordinate X:</label>
                        <input type="text" name="coordinateX" placeholder="2" value="{{ parameters.coordinateX }}">

                        <label for="coordinateY">Coordinate X:</label>
                        <input type="text" name="coordinateY" placeholder="2" value="{{ parameters.coordinateY }}">
                    </div>

                    <input type="submit" value="Send!">
                </form>
            </div>

            <div style="text-align: center;">
                {% for row in matrix %}
                    <div style="width: 100%; display: table; border-spacing: 5px; table-layout: fixed;">
                        {% for square in row %}
                            {% if square in subMatrix %}
                                {% set color = 'square-red'%}
                            {% else %}
                                {% set color = 'square-blue' %}
                            {% endif %}
                            <div class="square {{ color }}"
                                 style="display: table-cell;">{{ square }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}